.w2ui-tabs .w2ui-tab, .w2ui-tab
{
    cursor:pointer;
}

#commercebug-tab-content form
{
    margin-top:12px;
}

#commercebug-tab-content h2
{
    margin-top:0;
    margin-bottom:0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#commercebug-tab-content
{
    background-color:#fff;
}
#commercebug-tab-content div
{
    margin-left:20px;
    margin-right:20px;
    padding-top:20px;
}

#commercebug-tab-content div.dataTables_wrapper
{
    padding-top:0px;
}

#commercebug-container
{
    padding-bottom:20px;
}


table.pulsestorm-data-table thead tr th
{
    text-align:left;
}

div.dataTables_filter
{
    padding-bottom:1em;
}

div.w2ui-tab
{
    font-size:1.5em;
    
}

table.pulsestorm-data-table tbody tr td pre, 
table#pulsestorm_commercebug_lookup_results tbody tr td pre
{
    background-color:#ffffff;
    border:0;
    margin:0;
    padding:0;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;    
    font-size:12px;    
}

table.pulsestorm-data-table tbody tr td pre.pulsestorm_commercebug_phpclass, 
table#pulsestorm_commercebug_lookup_results tbody tr td pre.pulsestorm_commercebug_phpclass
{
    font-size:14px;
    margin-bottom:4px;
}

table.pulsestorm-data-table tbody tr td pre.pulsestorm_commercebug_file, 
table#pulsestorm_commercebug_lookup_results tbody tr td pre.pulsestorm_commercebug_file
{
    font-size:11px;
}

div.dataTables_length label select, div.dataTables_filter label input
{
    display:inline;
    height:initial;
    width:initial;
}

.dataTables_paginate
{
    padding-bottom:12px;
}

#commercebug-tab-content input
{
    width:initial;
    height:initial;
}